# Master branch only
.installedPrograms
.config/bootOptions*


# Everywhere
Downloads/
Pictures/
devel/
VirtualBox VMs/
*.kdbx
.GA_ClientID
.ICAClient/
.Xauthority
.ansible*
.bash_history
.bash_logout
.bashrc
.cache/
.cargo/
.cert/
.clamtk/
.config/Code - OSS/
.config/Microsoft/
.config/QtProject.conf
.config/Signal
.config/Slack/
.config/Thunar/
.config/VirtualBox/
.config/Yubico
.config/alacritty/font_size.yml
.config/autostart
.config/bootOptionsZen
.config/dconf
.config/discord/
.config/get-galaxy-tags.conf
.config/gtk*
.config/htop/
.config/kde.org/
.config/keepassxc
.config/kglobalshortcutsrc
.config/mimeapps.list
.config/mopidy/
.config/ncmpcpp/
.config/pavucontrol.ini
.config/pipewire
.config/pulse/
.config/ristretto/
.config/solaar/config.json
.config/spectaclerc
.config/spotify
.config/systemd
.config/teams
.config/xfce4/
.config/mimeapps.list
.config/zoomus.conf
.docker/
.fehbg
.gem/
.gitcfg
.gitconfig
.git-credentials
.gnupg/
.gtkrc-2.0
.histfile
.icons/
.keychain/
.lesshsQ
.lesshst
.local/
.localOptions
.mopidy/
.mozbuild
.mozilla/
.mplayer/
.pki
.screenlayout
.scripts/galaxy-check-requirements
.scripts/galaxy-get-tags
.scripts/mmb-tmux
.scripts/tls-gen
.ssh/
.thunderbird
.vagrant.d/
.vim/
.viminfo
.vscode-oss/
.xinitrc
.xscreensaver
.config/alacritty/font_size.yml
.zcompdump
.zoom/
.zprofile

