Pictures/
Downloads/
devel/
.Xauthority
.gitcfg
.bash_logout
.bashrc
.cache/
.config/Thunar/
.config/pulse/
.config/xfce4/
.fehbg
.gitconfig
.gnupg/
.lesshst
.local/
.localOptions
.mozilla/
.ssh/
.vim/
.viminfo
.xinitrc
.zcompdump
.zprofile
.cargo/
.cert/
.config/Slack/
.config/gtk*
.config/keepassxc
.config/QtProject.conf
.config/systemd
.config/spotify
.config/dconf
.gtkrc-2.0
.histfile
.icons/
*.kdbx
.lesshsQ
.mozbuild
.pki
.screenlayout
.thunderbird
.config/solaar/config.json
.config/pavucontrol.ini
.config/pipewire
.scripts/mmb-tmux
.scripts/galaxy-check-requirements
.scripts/galaxy-get-tags
.scripts/tls-gen
.ICAClient/
.ansible*
.bash_history
.clamtk/
.config/Signal
.config/Yubico
.mplayer/
.config/teams
.config/spectaclerc
.config/ncmpcpp/
.congig/mimeapps.list
.config/autostart
enarhi_*
.GA_ClientID
.config/Code - OSS/
.config/Microsoft/
.config/bootOptionsZen
.config/get-galaxy-tags.conf
.config/htop/
.config/kde.org/
.config/kglobalshortcutsrc
.config/mimeapps.list
.config/mopidy/
.keychain/
.mopidy/
.vscode-oss/
.xscreensaver
.config/alacritty/font_size.yml
