Pictures
Downloads/
.Xauthority
.gitcfg
.bash_logout
.bashrc
.cache/
.config/Thunar/
.config/pulse/
.config/xfce4/
.fehbg
.gitconfig
.gnupg/
.lesshst
.local/
.localOptions
.mozilla/
.ssh/
.vim/
.viminfo
.xinitrc
.zcompdump
.zprofile
.cargo/
.cert/
.config/Slack/
.config/gtk*
.config/keepassxc
.config/QtProject.conf
.config/systemd
.config/spotify
.config/dconf
.gtkrc-2.0
.histfile
.icons/
*.kdbx
.lesshsQ
.mozbuild
.pki
.screenlayout
.thunderbird
.config/solaar/config.json
.config/pavucontrol.ini
.config/pipewire
.scripts/mmb-tmux

